MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/gr-transport?retryWrites=true&w=majority
ADMIN_PIN=1234
SESSION_SECRET=change-this-to-a-random-secret-string
PORT=3000
NODE_ENV=development
